.container {
  background-image: url("../../Assets/LoginBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.form {
  margin-top: 40vh;
  transform: translatey(-50%);
  margin-left: 10vw;
  max-width: 400px;
  align-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.23);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10%;
  color: white;
}

.avtar {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.avtarLogo {
  background-color: #fe346e;
  padding: 1px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  color: white;
}

.inputField {
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding: 5px;
  color: #999999;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid white;
}

.submitBtn {
  transform: translateY(50%);
  font-size: 25px;
  text-align: center;
  background-color: #fe346e;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

@media (max-width: 750px) {
  .form {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .linkContainer {
    display: block;
    text-align: left;
  }
}

.brand {
  font-size: 25px;
  padding-left: 15px;
  color: white;
}
.brand .q {
  color: #fe346e;
}
