.appImage {
  background-image: url("../src/Assets/appBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
.overlay {
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.68);
}
