.pay {
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin-left: 5px;
    min-width: 80px;
    background-color: #f3346e;
    color: white;
    font-weight: bold;
    border: 3px solid #f3346e;
    float: left;
    cursor: pointer;
    margin-top: 40px;
  }
  .paymodal{
    height:"200px"
  }

 